<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/0377980d01.js" crossorigin="anonymous"></script>
    <title>Editar</title>
</head>
<body>
    <%- include('./partials/header.ejs') %> 
    <main>
        <section id="form_criar">
            <form method="post" action="/editar/<%= album.id %> ">
                <input type="text" name="nome_album" required value="<%= album.nome_album %> ">
                <label for="nome_album">Nome do Album</label>

                <input type="text" name="ano" required value="<%= album.ano %> ">
                <label for="ano">Ano de Lançamento</label>

                <input type="text" name="gravadora" required value="<%= album.gravadora %> ">
                <label for="gravadora">Gravadora</label>

                <input type="url" name="imagem" id=""required value="<%= album.imagem %> ">
                <label for="imagem">Link da imagem</label>

                <input type="text" name="iframe" required value="<%= album.iframe %> ">
                <label for="iframe">Iframe</label> 
                <button id="butEnviar" type="submit"> Enviar</button>               
                
            </form>

        </section>
    </main>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>